---
import { CATEGORIES, type Category } from '../db/schema';
import { t, localePath, type Locale } from '../i18n';

interface Props {
  locale: Locale;
  activeCategory?: string;
}

const { locale, activeCategory } = Astro.props;
const i = t(locale);

const basePath = localePath(locale, '/');
---

<ul class="category-filter">
  <li>
    <a
      href={basePath}
      class:list={['category-pill', { active: !activeCategory }]}
    >
      {i.categories.all}
    </a>
  </li>
  {CATEGORIES.map((cat) => (
    <li>
      <a
        href={`${basePath}?category=${cat}`}
        class:list={['category-pill', { active: activeCategory === cat }]}
      >
        {i.categories[cat as keyof typeof i.categories]}
      </a>
    </li>
  ))}
</ul>
